.Header{
    display: flex;
    background: darkseagreen;
    height: 50px;
    width: 100vw;
    animation: 0.5s ease-out 0s headerAppearing;
}

@keyframes headerAppearing{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.navBar{
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.navLink{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: azure;
    font-size: large;
    text-decoration: none;
    border: none;
    background: transparent;
}

.navLink:hover{
    background: #567e56;
    cursor: pointer;
}


.leftSideHeader{
    position: relative;
    flex-grow: 2;
}
